- name: Stop and disable firewalld
  become: true
  systemd_service:
    name: firewalld
    enabled: false
    state: stopped

- name: Install curl
  become: true
  ansible.builtin.package:
    name: curl
    state: present

- name: Check if RKE2 is already installed
  become: true
  stat:
    path: /usr/local/bin/rke2
  register: rke2_installed

- name: Install RKE2 server
  become: true
  shell: "curl -sfL https://get.rke2.io | sh -"
  when: not rke2_installed.stat.exists
  changed_when: true

- name: Enable and start rke2-server
  become: true
  systemd_service:
    name: rke2-server
    enabled: true
    state: started

- name: Read RKE2 node token
  become: true
  slurp:
    src: /var/lib/rancher/rke2/server/node-token
  register: rke2_token

- name: Set token fact
  set_fact:
    rke2_server_token: "{{ rke2_token.content | b64decode | trim }}"